
<%- include('partials/header.ejs') %>

<div class="container">
    <h2 class="mogra-regular">New Shelf-Note</h2>
    <p>Fill out the form below to add a new Shelf-Note to your collection.</p>
    <form action="/addNote" method="POST">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="mb-2 form-floating">
                    <input type="text" id="author" name="author" class="form-control" required>
                    <label for="floating-input">Author:</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="mb-2 form-floating">
                    <input type="text" id="isbn" name="isbn" class="form-control" required>
                    <label for="floating-input">ISBN:</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="mb-2">
                    <fieldset class="star-rating form-control">
                        <legend class="pb-0 mb-0">Rating:</legend>
                        <div class="d-flex flex-row-reverse justify-content-evenly align-items-center me-4">
                            <input type="radio" id="star5" name="rating" value="5" required>
                            <label for="star5" title="5 stars">&#9733;</label>
                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4" title="4 stars">&#9733;</label>
                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3" title="3 stars">&#9733;</label>
                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2" title="2 stars">&#9733;</label>
                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1" title="1 star">&#9733;</label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="mb-2 form-floating">
                    <input type="date" id="date_read" name="date_read" class="form-control" required>
                    <label for="date_read">Date Read:</label>
                </div>
            </div>
        </div>
        <div class="mb-2 form-floating">
            <input type="text" id="title" name="title" class="form-control" required>
            <label for="floating-input">Title:</label>
        </div>
        <div class="mb-2 form-floating">
            <textarea id="summary" name="summary" class="form-control" style="height: 100px" required></textarea>
            <label for="floating-textarea">Summary:</label>
        </div>
        <div class="mb-2 form-floating">
            <textarea id="notes" name="notes" class="form-control" style="height: 200px" required></textarea>
            <label for="floating-textarea">Notes:</label>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-2 fw-medium">Save <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 18"><path d="M11 2H9v3h2z"/><path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/></svg></button>
    </form>
</div>


<%- include('partials/footer.ejs') %>